<mat-card>
    <mat-card-header>
        <mat-card-title>Login or Create an Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter your username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password">
    </mat-form-field>
    <br>
    <button mat-raised-button>Login</button>
    </mat-card-content>
</mat-card>
