.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }

  span.is-superb{
    color: #6ee886;
  }
  span.is-attractive{
    color: #73efbb;
  }
  span.is-basic{
    color: #bfefdb;
  }
  span.is-caution{
    color: #f5ab6f;
  }
  span.is-fragile{
    color: #ed474a;
  }